@font-face {
    font-family: Urbanist-ExtraBold;
    src: url('/fonts/Urbanist-ExtraBold.ttf');
}
@font-face {
    font-family: Urbanist-Bold;
    src: url('/fonts/Urbanist-Bold.ttf');
}
@font-face {
    font-family: Urbanist-SemiBold;
    src: url('/fonts/Urbanist-SemiBold.ttf');
}
@font-face {
    font-family: Urbanist-Medium;
    src: url('/fonts/Urbanist-Medium.ttf');
}
@font-face {
    font-family: Inter-Italic;
    src: url("/fonts/Inter-Italic.ttf");
}
@font-face {
    font-family: Inter-Medium;
    src: url("/fonts/Inter-Medium.ttf");
}
@font-face {
    font-family: Inter-Regular;
    src: url("/fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: Inter-Bold;
    src: url("/fonts/Inter-Bold.ttf");
}