@use "../sass/modules//fonts";

.unimportant-text {
    font-size: 15px;
    font-weight: 150;
    font-family: "Urbanist-Medium", sans-serif;
    color: #A1A1AA;
}

.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {

        padding-left: 60px;
        width: 400px;
        height: 60px;
        background-color: #27272A;
        border: none;
        border-radius: 15px;
        outline: none;
        font-size: 15px;
        font-family: "Urbanist-Medium", sans-serif;
        font-weight: 200;
        color: white;

        &::placeholder {
            color: #A1A1AA;
            font-size: 15px;
        }
    }

    img {
        margin-left: 20px;
        width: 20px;
        position: absolute;
    }
}

.submit-button {
    cursor: pointer;
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: rgb(243, 18, 96);
    font-size: 15px;
    font-weight: bold;
    font-family: "Urbanist-Bold", sans-serif;
    transition: 200ms ease-in;

    &:hover {
        background-color: rgb(177, 12, 70);
    }
}

.link-auth {
    color: rgb(243, 18, 96);
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    font-family: "Urbanist-Medium", sans-serif;
    transition: 200ms ease-in;
    margin-bottom: 20px;

    &:hover {
        color: rgb(177, 12, 70);  
    }
}

.AuthPages {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 200px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(23, 23, 25);

    /*ИНФОРМАЦИЯ*/
    .info {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 19px;

        /*Заголовки*/
        h1 {
            color: #F31260;
            font-weight: bold;
            font-family: "Urbanist-ExtraBold", sans-serif;
            font-size: 59px;
            line-height: 75px;
        }

        /*Список*/
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            li {
                font-size: 24px;
                color: #FFFFFF;
                font-family: "Urbanist-SemiBold", sans-serif;
                font-weight: 300;
                display: flex;
                gap: 9px;
                flex-direction: row;
                align-items: center;

                img {
                    width: 24px;
                };
            }
        }
        /*Fake form*/
        #fake-form {
            background-color: rgb(24, 24, 27);
            border-radius: 20px;
            padding-top: 10px;

            display: flex;
            gap: 8px;
            flex-direction: column;
            align-items: center;

            img {
                user-select: none;
                width: 30vw;
            }
        }
    }

    /*ФОРМА*/
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 20px;

        h1 {
            color: #F31260;
            font-weight: bold;
            font-family: "Urbanist-ExtraBold", sans-serif;
            font-size: 59px;
            line-height: 75px
        }
    }



}