@use "./modules/fonts";
.nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 121px;
    height: 96px;

    img {
        width: 60px;
        height: 60px;
        user-select: none;
    }
}
a.active.nav-box {
    border-left: 5px solid green;
    padding-left: 10px;
    background: linear-gradient(
    90deg,
    rgba(37, 211, 102, 0.2) 0%,
    rgba(23, 24, 33, 0.05) 86%
)
}
#page-layout {
    display: flex;
    flex-direction: column;
}
#layout-panel {
    display: flex;
    flex-direction: row;
}

#panel {
    background-color: #171821;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 6vw;
    padding-right: 10px;
    height: 90vh;
    border: 1px solid black;
}

#Main {
    display: flex;
    flex-direction: row;
    gap: 0;

    #chat {
        display: flex;
        margin-left: 8vw;
    }
    #chats-panel {
        display: flex;
        flex-direction: column;
        width: 30vw;
        background-color: #1f1f29
    }

    .active-contact-box {
        background-color: #262731;
    }

    .no-active-contact-box {
        background-color: #1c1d26;
    }

    .contact-box {
        height: 10vh;
        border: 1px solid #393636;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        padding-right: 10px;
        cursor: pointer;
        transition: 200ms ease-in;

        &:hover {
            background-color: #363849;
        }
        .contact-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .name {
                font-size: 18px;
                font-family: "Inter-Medium", sans-serif;
                color: white; 
            }
            .bar {
                color: grey;
                font-size: 14px;
                font-family: "Inter-Italic", sans-serif;
            }
        }

 


        .other_info {
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-left: auto;

            .time {
                font-size: 14px;
                color: #25D366;
                font-family: "Inter-Medium", sans-serif;
            }
            .int-messages {
                text-align: center;
                border-radius: 50%;
                border: 1px solid #25D366;
                background-color: #25D366;
                background-clip: padding-box;
                width: 20px;
                height: 20px;

                font-size: 14px;
                font-family: "Inter-Regular", sans-serif;
                color: #171821;
            }
        }
    }
}

    #chat {
       width: 64vw; 
       display: flex;
       flex-direction: column;
       background-color: #171821; 
       margin: 0 !important;
    }

    #search {
    z-index: 1;
    background-color: #171821;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #393636;

    img {
        width: 6vw;
    }
    #bell {
        width: 24px;
        margin-right: 30px;
    }


    #search_img {
        width: 24px;
        position: absolute;
        margin-left: 8vw;
    }

    input {
        margin-left: 20px;
        border: none;
        outline: none;
        padding-left: 50px;
        width: 70vw;
        height: 10vh;
        justify-self: center;
        background-color: transparent;
        color: white;
        font-size: 16px;
        font-family: "Inter-Italic", sans-serif;
        &::placeholder {
            color: #474B54;
            font-size: 16px;
            font-size: 16px;
            font-family: "Inter-Italic", sans-serif;
        }
    }
    #dialog-store {
        display: flex;
        flex-direction: column;
        align-items: center;
        #dialog {
            padding-top: 15px;
            z-index: 2;
            width: 10vw;
            position: fixed;
            list-style: none;
            border: 2px solid #312f31;
            background-color: #1f1f29;
            margin-top: 5vh;

            li {
                cursor: pointer;
                transition: 200ms;
                border-bottom: 2px solid #312f31;
                height: 5vh;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: white;
                    font-family: "Inter-Italic", sans-serif;
                    font-size: 20px;
                }
                &:hover {
                    background-color: #373747;
                }
            }
        }
    }
    #profile-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        img {
            width: 45px;
        }
        #arrow_img {
            width: 10px;
            transition: 300ms;
            user-select: none;
        }
        img.activate {
            transform: rotate(180deg);
        }
        img.no-activate {
            transform: rotate(0deg);
        }
        span {
            color: #B5BFD6;
            font-size: 16px;
            font-family: "Inter-Regular", sans-serif;
        }
    }
}

#send-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #28272b;
     border-bottom: 1px solid #28272b;

    input {
        border: none;
        background-color: transparent;
        outline: none;
        width: 30vw;
        height: 10vh;

        &::placeholder {
            font-size: 16px;
            font-family: "Inter-Regular", sans-serif;
            color: white;
        }
    }

    img {
        width: 20px;
    }
}

